---
import Carousel from '@/components/ui/Carousel.astro'
---

<section class="bg-neutral-200 py-12">
  <h2 class='text-primary-700 mb-4 text-center text-2xl font-bold'>
    Productos Destacados
  </h2>
  <Carousel />
</section>
